<a href="/dashboard">&larr; Retour</a>
<div class="admin-title">
    <h2>Modifier le Post</h2>


    <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Supprimer" class="btn-delete btn">
    </form>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

    <label for="title"><b>Titre</b></label>
    <input type="text" placeholder="Titre du post" name="title" value="<%= data.title %>" autocomplete="off">

    <label for="title"><b>Résumé</b></label>
    <input type="text" placeholder="Faire un résumé" name="summary" value="<%= data.summary %>" autocomplete="off">

    <label for="content"><b>Contenu</b></label>
    <textarea name="content" cols="50" rows="10" value="<%= data.content %>" autocomplete="off"></textarea>

    <label for="title"><b>Auteur</b></label>
    <input type="text" placeholder="Le nom de l'auteur" name="author" value="<%= data.author %>" autocomplete="off">

    <input type="submit" value="Modifier" class="btn">
</form>